@using IntroASP.Models.ViewModels;

@model UserViewModel

<h2>Crear Usuario</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" asp-for="Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Password">Contraseña</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" required>
    </div>


    <div class="form-group"><select asp-for="IdRol" class="form-select mt-2" asp-items="ViewBag.Roles" value="usuario"  ></select></div>
    

    
    <div class="form-group">
        <label for="NombreCompleto">Nombre Completo</label>
        <input type="text" class="form-control" id="NombreCompleto" asp-for="NombreCompleto" required>
    </div>
    <div class="form-group">
        <label for="FechaNacimiento">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="FechaNacimiento" asp-for="FechaNacimiento" required>
    </div>
    <div class="form-group">
        <label for="Telefono">Teléfono</label>
        <input type="text" class="form-control" id="Telefono" asp-for="Telefono" required>
    </div>
    <div class="form-group">
        <label for="Direccion">Dirección</label>
        <input type="text" class="form-control" id="Direccion" asp-for="Direccion" required>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
