<div class="text-center">
    <h1 class="display-4">Acceso Denegado</h1>
    <p class="lead">Lo sentimos, pero no tienes permiso para acceder a esta página.</p>
    <hr />
    <p>
        Si crees que deberías tener acceso a esta página, por favor contacta con el administrador del sitio.
    </p>
    <p class="lead">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Volver al inicio</a>
    </p>
</div>