@model Brand

<h2>Editar Marca</h2>

<form asp-action="Edit" asp-controller="Brand" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="BrandId" />
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" asp-for="Name" required>
    </div>
   
    <button type="submit" value="Save" class="btn btn-primary mt-2">Editar</button>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-warning">
            @TempData["SuccessMessage"]
        </div>
    }
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
